<table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th colspan="2" bgcolor="blue">My Profil</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nama</td>
                <td><input type="text" size="50" maxlength="30" id="nama"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" size="50" maxlength="30" id="email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" size="50" maxlength="30" id="password"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea cols="50" rows="7" id="address"></textarea></td>
            </tr>
            <tr> 
                <td>Gender</td>
                <td>
                    <input type="radio" name="gender" id="L" value="Laki-laki"><label for"L">Laki-laki</label>&nbsp;&nbsp;
                    <input type="radio" name="gender" id="P" value="Perempuan"><label for"P">Perempuan</label>
                </td>
            </tr>
            <tr>
                <td>Jenjang Pendidikan</td>
                <td>
                    <select id="Jenjang">
                        <option value="D3">D3</option>
                        <option value="S1">S1</option>
                        <option value="S2">S2</option>
                        <option value="S3">S3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Hobi</td>
                <div class="hobi">
                    <td>
                        <input type="checkbox" name="cek" id="cek1" value="Belajar">Belajar<br>
                        <input type="checkbox" name="cek" id="cek2" value="Nonton">Nonton<br>
                        <input type="checkbox" name="cek" id="cek3" value="Makan">Makan<br>
                    </td>
                </div>
            </tr>
            <tr>
                <tr>
                    <td colspan="2" bgcolor="lightgray"><input type="submit" value="submit" onclick="cek()"></td>
                </tr>
            </tr>
        </tbody>
    </table>

<script text="text/javascript">
function cek() {
        alert("Cek!!!")
        var nama = document.getElementById('nama').value
        var email = document.getElementById('email').value
        var password = document.getElementById('password').value
        var address = document.getElementById('address').value
        var gdr = document.getElementById('L').value
        var gdr1 = document.getElementById('P').value
        var jenjang = document.getElementById('Jenjang').value
        var hobi = document.getElementById('cek1').value
        var hobi1 = document.getElementById('cek2').value
        var hobi2 = document.getElementById('cek3').value
        console.log("cek lagi!!")
        console.log(nama)
        console.log(email)
        console.log(password)
        console.log(address)
        if (gdr) {
            console.log(gdr) 
        }
        else{
            console.log(gdr1)
        }
        console.log(jenjang)
        if (hobi) {
            console.log(hobi)
        }
        else if (hobi1) {
            console.log(hobi1)
        }
        else{
            console.log(hobi2)
        }
}
</script>